body {
  font-family: "Sora", "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.card {
  border: 0px;
}

.btn-white {
  background-color: #FFFFFF;
  color: #ff7631;
  fill: #ff7631;
  font-weight: 700;
}

.btn-white:hover {
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.btn-transparent {
  background-color: transparent;
  color: #FFFFFF;
}

.btn-red {
  background-color: #FB0030;
  color: #FFFFFF;
  fill: #FFFFFF;
}

.btn-red-inversed {
  background-color: gainsboro;
  color: #FFFFFF;
  fill: #FFFFFF;
}

.btn-red-inversed:hover {
  background-color: #FB0030;
  color: #FFFFFF;
  fill: #FFFFFF;
}

.btn-red-outline {
  font-weight: 700;
  border-width: 2px;
  background-color: white;
  border-color: #FB0030;
  color: #FB0030;
}

.btn-red-outline:hover {
  background-color: #FB0030;
  color: white;
}

.btn-red:hover {
  background-color: #c80026;
  color: #FFFFFF;
  fill: #FFFFFF;
}

.text-gray-light {
  color: #707070;
}

