body.logged {
  background-color: #F5F5F5;
  min-height: 100%;
  color: #868686;
}

body.logged h1,
body.logged h2,
body.logged h3,
body.logged h4,
body.logged h5,
body.logged h6 {
  color: #262626;
}

body.logged .icon {
  fill: #707071;
  cursor: pointer;
  transition: 0.5s;
}

body.logged .icon:hover,
body.logged .icon.active {
  fill: #E7323B;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

body.logged .active .icon {
  fill: #E7323B;
}

body.logged .col-sidebar {
  max-width: 204px;
  height: 100%;
  background-color: #ffffff;
}

body.logged .col-sidebar .nav a {
  font-family: "Krona One";
  color: #707071;
  font-size: 16px;
  cursor: pointer;
}

body.logged .col-sidebar .nav a:hover {
  color: #E7323B;
}

body.logged .col-sidebar .nav a:hover * {
  fill: #E7323B;
}

body.logged .col-main {
  margin-left: 204px;
  background-image: url("/images/internetowisprzedawcy/logged_bg.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

body.logged .account {
  width: 60px;
  height: 60px;
  display: inline-block;
  line-height: 60px;
}

body.logged .account:hover,
body.logged .account.active {
  background-color: #00ACAA;
  color: #ffffff;
}

body.logged .account:hover .icon,
body.logged .account.active .icon {
  fill: #ffffff;
}

body.logged .nav-pills .nav-link {
  color: #868686;
  font-size: 17px;
  border: 1px solid transparent;
  border-bottom: 4px solid transparent;
}

body.logged .nav-pills .nav-link:hover {
  border-bottom-color: #868686;
}

body.logged .nav-pills .nav-link.active {
  background-color: inherit;
  border-bottom-color: #00ACAA;
}

body.buyaccess {
  background-color: #F5F5F5;
  min-height: 100%;
}

body.buyaccess .inner {
  background-color: #FCFCFC;
  overflow-y: auto;
}

html {
  background-color: #3E3E3E;
}

body {
  font-family: "Poppins";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Krona One";
  color: #707071;
}

p {
  font-size: 18px;
}

.font-primary {
  font-family: "Poppins" sans-serif;
}

.font-secondary {
  font-family: "Krona One" sans-serif;
}

.p-header {
  font-size: 31px;
  color: #DE3A43;
  font-family: "Krona One";
}

.header {
  background-color: #E7323B;
  background-image: none;
}

.color-red,
.text-red {
  color: #E7323B !important;
}

.bg-red {
  background-color: #E7323B;
}

.color-blue,
.text-blue {
  color: #00ACAA;
  fill: #00ACAA;
}

.color-blue-order,
.text-blue-order {
  color: #45BEEE !important;
  fill: #45BEEE !important;
}

.color-gray,
.text-gray {
  color: #868686 !important;
  fill: #868686 !important;
}

.text-gray-light {
  color: #D8D9D9 !important;
  fill: #D8D9D9 !important;
}

.text-gray {
  color: #707071 !important;
  fill: #707071 !important;
}

.text-gray-44 {
  color: #444444 !important;
  fill: #444444 !important;
}

.text-black {
  color: #262626 !important;
  fill: #262626 !important;
}

.bg-blue {
  background-color: #00ACAA;
}

.header-is :before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-color: #00ACAA;
}

.navbar li {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar a {
  color: #ffffff;
}

footer {
  background-color: #3E3E3E;
}

footer .footer-menu {
  font-family: "Krona One";
}

.btn {
  border-radius: 14px;
  padding: 10px 32px;
}

.btn-red {
  background-color: #E7323B;
  color: #ffffff;
  fill: #ffffff;
}

.btn-red:hover {
  background-color: #ce1821;
  color: #ffffff;
  fill: #ffffff;
}

.btn-blue {
  background-color: #119CD4;
  color: #ffffff;
  fill: #ffffff;
}

.btn-blue:hover {
  background-color: #0d79a5;
  color: #ffffff;
  fill: #ffffff;
}

.main-slider .VueCarousel-wrapper {
  height: calc(100vh - 335px);
}

.main-slider .VueCarousel-inner {
  height: 100% !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1450px;
  }
}

.card {
  border-radius: 28px;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-12 {
  font-size: 12px;
}

ul.square-ul {
  list-style-type: none;
  padding-left: 0em;
}

ul.square-ul li:before {
  background-color: #00A9A7;
  content: "";
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 2px;
  height: 15px;
  width: 15px;
  margin-top: 23px;
}

.iframe-vimeo {
  padding: 40% 0 0 0;
  position: relative;
}

.iframe-vimeo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-description div h2 {
  line-height: 1.25em;
  font-size: 35px;
}

.subscription-button,
.subscription-button:hover,
.subscription-button:active,
.subscription-button:visited .subscription-button:focus {
  color: #FFFFFF;
  background-color: #E7323B;
  border-color: #E7323B;
  font-family: "Krona One";
  font-size: 25px;
}

.subscription-button span,
.subscription-button:hover span,
.subscription-button:active span,
.subscription-button:visited .subscription-button:focus span {
  margin: 0 2em 0 2em;
}

.subscription-button-description {
  color: #707071;
  font-size: 13px;
}

.subscription-promo-card {
  border: 1px solid black;
  border-radius: 38px;
  width: 400px;
  height: 445px;
}

.rounded-50 {
  border-radius: 44px;
}

.btn-ivba {
  background-color: #00ACAA;
  font-family: "Krona One", sans-serif;
}

.btn-ivba:hover {
  background-color: #007978;
}

.text-gray {
  color: #707071;
  fill: #707071;
}

.text-black {
  color: #262626;
  fill: #262626;
}

.center-justify-flex-content {
  align-items: center;
  justify-content: center;
  display: flex;
}

.offer-promo-card {
  height: 355px;
}

.offer-promo-card div {
  align-items: center;
  justify-content: center;
  display: flex;
}

.offer-promo-card__with-margin {
  margin-top: 110px;
}

.offer-promo-card__title {
  cursor: default;
  background-color: #ffffff;
  height: 90px;
  box-shadow: 0px 0px 4px -3px #42445a;
}

.offer-promo-card__title span {
  z-index: 2;
  font-size: 17px;
  color: #DE3A43;
  font-family: "Krona One";
}

.offer-promo-card__title:hover {
  box-shadow: 0px 0px 5px -3px #42445a;
}

.offer-promo-card__title:hover + .offer-promo-card__description {
  opacity: 1;
}

.offer-promo-card__description {
  cursor: default;
  min-height: 265px;
  padding: 2em;
  opacity: 0;
  transition: all 500ms ease-in-out;
  background: #c3c3c3;
  background: linear-gradient(180deg, rgba(195, 195, 195, 0.4) 5%, rgba(219, 219, 219, 0.3) 45%, rgba(231, 231, 231, 0.3) 50%, rgba(230, 230, 230, 0.3) 100%);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.offer-promo-card__description span {
  font-size: 15px;
}

@media (max-width: 1200px) {
  .offer-promo-card__with-margin {
    margin-top: 0;
  }
}

.confident-seller-img {
  max-height: 675px;
  max-width: 628px;
}

.courses-list-button,
.courses-list-button:hover,
.courses-list-button:active,
.courses-list-button:visited .courses-list-button:focus {
  color: #FFFFFF;
  background-color: #00A9A7;
  border-color: #00A9A7;
  font-family: "Krona One";
  font-size: 19px;
}

.courses-list-button span,
.courses-list-button:hover span,
.courses-list-button:active span,
.courses-list-button:visited .courses-list-button:focus span {
  margin: 0 1em 0 1em;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-25 {
  font-size: 25px;
}

