@import url(https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:ital,wght@0,300;

0,400;0,700;1,300;1,400;1,700&display=swap);body.logged {
  background-color: #F5F5F5;
  min-height: 100%;
  color: #868686;
}

body.logged h1,
body.logged h2,
body.logged h3,
body.logged h4,
body.logged h5,
body.logged h6 {
  color: #262626;
}

body.logged .icon {
  fill: #707071;
  cursor: pointer;
  transition: 0.5s;
}

body.logged .icon:hover,
body.logged .icon.active {
  fill: #E7323B;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

body.logged .active .icon {
  fill: #E7323B;
}

body.logged .col-sidebar {
  max-width: 204px;
  height: 100%;
  background-color: #FFFFFF;
}

body.logged .col-sidebar .nav a {
  font-family: "Krona One";
  color: #707071;
  font-size: 16px;
  cursor: pointer;
}

body.logged .col-sidebar .nav a.active,
body.logged .col-sidebar .nav a:hover {
  color: #E7323B;
}

body.logged .col-sidebar .nav a.active *,
body.logged .col-sidebar .nav a:hover * {
  fill: #E7323B;
}

body.logged .col-main {
  margin-left: 204px;
  background-image: url("/images/internetowisprzedawcy/logged_bg.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

body.logged .account {
  width: 60px;
  height: 60px;
  display: inline-block;
  line-height: 60px;
  cursor: pointer;
}

body.logged .account:hover,
body.logged .account.active {
  background-color: #00ACAA;
  color: #FFFFFF !important;
}

body.logged .account:hover .icon,
body.logged .account.active .icon {
  fill: #FFFFFF;
}

body.logged .nav-pills .nav-link {
  color: #868686;
  font-size: 17px;
  border: 1px solid transparent;
  border-bottom: 4px solid transparent;
}

body.logged .nav-pills .nav-link:hover {
  border-bottom-color: #868686;
}

body.logged .nav-pills .nav-link.active {
  background-color: inherit;
  border-bottom-color: #00ACAA;
}

body.buyaccess {
  background-color: #F5F5F5;
  min-height: 100%;
}

body.buyaccess .inner {
  background-color: #FCFCFC;
  overflow-y: auto;
}

body.learn.logged .col-sidebar {
  max-width: 20%;
}

body.learn.logged .col-main {
  margin-left: 20%;
}

body.learn .col-sidebar .learn-sidebar {
  color: #9F9F9F;
}

body.learn .col-sidebar .learn-sidebar h1,
body.learn .col-sidebar .learn-sidebar h2,
body.learn .col-sidebar .learn-sidebar h3,
body.learn .col-sidebar .learn-sidebar h4,
body.learn .col-sidebar .learn-sidebar h5,
body.learn .col-sidebar .learn-sidebar h6 {
  color: #9F9F9F;
}

body.learn .col-sidebar .learn-sidebar .sidebar-heading {
  font-size: 17px;
}

body.learn .col-sidebar .learn-sidebar .nav a {
  font-family: "Poppins", sans-serif;
  color: #9F9F9F;
}

body.learn .col-sidebar .learn-sidebar .nav a:hover {
  color: #868686;
}

body.learn .col-sidebar .learn-sidebar .nav a.active {
  color: #E7323B;
}

body.learn .col-sidebar .learn-sidebar .nav a.active:hover {
  color: #ce1821;
}

body.learn .lesson-content {
  font-family: "Krona One", sans-serif;
}

body.learn .lesson-content .course-header {
  color: #9F9F9F;
  font-size: 14px;
}

body.learn .lesson-content .lesson-header {
  font-size: 21px;
}

body.learn .lesson-learn-mode.nav-tabs {
  border-bottom: 0px;
}

body.learn .lesson-learn-mode.nav-tabs .nav-item {
  font-size: 23px;
  font-family: "Krona One";
}

body.learn .lesson-learn-mode.nav-tabs .nav-item .nav-link {
  color: #989898;
}

body.learn .lesson-learn-mode.nav-tabs .nav-item .nav-link.active {
  background-color: transparent;
  border: 0px;
  border-bottom: 3px solid #00ACAA;
  color: #262626;
}

body.learn .lesson-learn-mode.nav-tabs .nav-item .nav-link:hover {
  background-color: transparent;
  border: 0px;
  border-bottom: 3px solid #00ACAA;
}

html {
  background-color: #3E3E3E;
  scroll-behavior: smooth;
  scroll-margin: 25px;
}

body {
  font-family: "Poppins";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Krona One";
  color: #707071;
}

p {
  font-size: 18px;
}

header {
  font-family: "Krona One";
  font-size: 13px;
}

footer p {
  font-size: 16px;
}

.font-primary {
  font-family: "Poppins" sans-serif;
}

.font-secondary {
  font-family: "Krona One" sans-serif;
}

.p-header {
  font-size: 31px;
  color: #DE3A43;
  font-family: "Krona One";
}

.header {
  background-color: #E7323B;
  background-image: none;
}

.color-red,
.text-red {
  color: #E7323B !important;
}

.bg-red {
  background-color: #E7323B;
}

.color-blue,
.text-blue {
  color: #00ACAA;
  fill: #00ACAA;
}

.color-blue-order,
.text-blue-order {
  color: #45BEEE !important;
  fill: #45BEEE !important;
}

.color-gray,
.text-gray {
  color: #868686 !important;
  fill: #868686 !important;
}

.text-gray-light {
  color: #D8D9D9 !important;
  fill: #D8D9D9 !important;
}

.text-gray {
  color: #707071 !important;
  fill: #707071 !important;
}

.text-gray-44 {
  color: #444444 !important;
  fill: #444444 !important;
}

.text-black {
  color: #262626 !important;
  fill: #262626 !important;
}

.bg-blue {
  background-color: #00ACAA;
}

.header-is :before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-color: #00ACAA;
}

.navbar li {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar a {
  color: #FFFFFF;
}

.navbar a.dropdown-item {
  color: #707071;
}

footer {
  background-color: #3E3E3E;
}

footer .footer-menu {
  font-family: "Krona One";
}

.btn {
  border-radius: 14px;
  padding: 10px 32px;
}

.btn-red {
  background-color: #E7323B;
  color: #FFFFFF;
  fill: #FFFFFF;
}

.btn-red-inversed {
  background-color: gainsboro;
  color: #FFFFFF;
  fill: #FFFFFF;
}

.btn-red-inversed:hover {
  background-color: #E7323B;
  color: #FFFFFF;
  fill: #FFFFFF;
}

.btn-red:hover {
  background-color: #ce1821;
  color: #FFFFFF;
  fill: #FFFFFF;
}

.btn-blue {
  background-color: #119CD4;
  color: #FFFFFF;
  fill: #FFFFFF;
}

.btn-blue:hover {
  background-color: #0d79a5;
  color: #FFFFFF;
  fill: #FFFFFF;
}

.btn-ivba-inversed {
  background-color: gainsboro;
  color: #FFFFFF;
  fill: #FFFFFF;
}

.btn-ivba-inversed:hover {
  background-color: #00ACAA;
  color: #FFFFFF;
  fill: #FFFFFF;
}

.nav-link-header {
  display: block;
  padding: 0.5rem 1.5rem;
}

.nav-link-header__register {
  border: 2px solid #FFFFFF;
  border-radius: 15px;
}

.alert-info {
  margin-top: 50px;
}

.main-slider .VueCarousel-wrapper {
  height: calc(100vh - 335px);
}

.main-slider .VueCarousel-inner {
  height: 100% !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1450px;
  }
}

.card {
  border-radius: 28px;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-12 {
  font-size: 12px;
}

ul.square-ul {
  list-style-type: none;
  padding-left: 0em;
}

ul.square-ul li:before {
  background-color: #00A9A7;
  content: "";
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 2px;
  height: 15px;
  width: 15px;
  margin-top: 23px;
}

.iframe-vimeo {
  padding: 40% 0 0 0;
  position: relative;
}

.iframe-vimeo img {
  position: absolute;
  left: 66%;
  top: 125px;
  z-index: 0;
  height: 207px;
}

.iframe-vimeo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1450px) {
  .iframe-vimeo img {
    display: none;
  }
}

.container-description div h2 {
  line-height: 1.25em;
  font-size: 35px;
}

.subscription-button,
.subscription-button:hover,
.subscription-button:active,
.subscription-button:visited .subscription-button:focus {
  color: #FFFFFF;
  background-color: #E7323B;
  border-color: #E7323B;
  font-family: "Krona One";
  font-size: 25px;
}

.subscription-button span,
.subscription-button:hover span,
.subscription-button:active span,
.subscription-button:visited .subscription-button:focus span {
  margin: 0 1.5em 0 1.5em;
}

.subscription-button-alt,
.subscription-button-alt:hover,
.subscription-button-alt:active,
.subscription-button-alt:visited .subscription-button-alt:focus {
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 3px;
  height: 69px;
}

.subscription-button-description {
  color: #707071;
  font-size: 13px;
}

.subscription-promo-card {
  background-color: #FFFFFF;
  border-radius: 38px;
  width: 400px;
  height: 445px;
}

.rounded-50 {
  border-radius: 44px;
}

.btn-ivba {
  background-color: #00ACAA;
  font-family: "Krona One", sans-serif;
}

.btn-ivba:hover {
  background-color: #007978;
}

.text-gray {
  color: #707071;
  fill: #707071;
}

.text-black {
  color: #262626;
  fill: #262626;
}

.center-justify-flex-content {
  align-items: center;
  justify-content: center;
  display: flex;
}

.offer-promo-card {
  height: 355px;
}

.offer-promo-card div {
  align-items: center;
  justify-content: center;
  display: flex;
}

.offer-promo-card__with-margin {
  margin-top: 110px;
}

.offer-promo-card__title {
  cursor: default;
  text-align: center;
  background-color: #FFFFFF;
  height: 90px;
  box-shadow: 0px 0px 4px -3px #42445a;
}

.offer-promo-card__title span {
  z-index: 2;
  font-size: 17px;
  color: #DE3A43;
  font-family: "Krona One";
}

.offer-promo-card__title:hover {
  box-shadow: 0px 0px 5px -3px #42445a;
}

.offer-promo-card__title:hover + .offer-promo-card__description {
  opacity: 1;
}

.offer-promo-card__description {
  cursor: default;
  min-height: 265px;
  padding: 2em;
  opacity: 0;
  transition: all 500ms ease-in-out;
  background: #c3c3c3;
  background: linear-gradient(180deg, rgba(195, 195, 195, 0.4) 5%, rgba(219, 219, 219, 0.3) 45%, rgba(231, 231, 231, 0.3) 50%, rgba(230, 230, 230, 0.3) 100%);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.offer-promo-card__description span {
  font-size: 15px;
}

@media (max-width: 1200px) {
  .offer-promo-card {
    height: auto;
  }

  .offer-promo-card__with-margin {
    margin-top: 0;
  }
}

.confident-seller-img {
  max-height: 675px;
  max-width: 628px;
}

.courses-list-button,
.courses-list-button:hover,
.courses-list-button:active,
.courses-list-button:visited .courses-list-button:focus {
  color: #FFFFFF;
  background-color: #00A9A7;
  border-color: #00A9A7;
  font-family: "Krona One";
  font-size: 19px;
}

.courses-list-button span,
.courses-list-button:hover span,
.courses-list-button:active span,
.courses-list-button:visited .courses-list-button:focus span {
  margin: 0 1em 0 1em;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-25 {
  font-size: 25px;
}

.vs-logo {
  position: absolute;
  left: -13%;
  top: -80px;
  z-index: 0;
  height: 207px;
}

@media (max-width: 1650px) {
  .vs-logo {
    height: 153px;
    left: 0%;
    top: -55px;
  }
}

@media (max-width: 1200px) {
  .vs-logo {
    height: 125px;
    left: -3%;
    top: -40px;
  }
}

@media (max-width: 767px) {
  .vs-logo {
    height: 105px;
    left: 0%;
    top: -25px;
  }

  .w-100-mobile {
    width: 100% !important;
  }
}

.list-card {
  z-index: 1;
  background-color: #FFFFFF;
  margin: 25px;
  padding: 15px;
  border-radius: 25px;
}

.list-card__positive {
  border: 4px solid #DE3A43;
}

.list-card__header {
  font-family: "Krona One";
  color: #707071;
  font-size: 20px;
  text-align: center;
  margin: 1em;
}

.list-card .list-card-item {
  font-size: 18px;
  border-radius: 25px;
  padding: 18px;
  text-align: center;
}

.list-card .list-card-item__positive {
  font-weight: 700;
}

.list-card .list-card-item__positive .fa-check-circle-o {
  color: #00A9A7;
}

.list-card .list-card-item__negative {
  color: #707071;
}

.list-card-item:nth-child(odd) {
  background-color: #F7F7F7;
}

.access-promo-card {
  width: 100%;
  border-radius: 38px;
  background-color: #FFFFFF;
}

.access-promo-card__container {
  max-width: 725px;
}

.access-promo-card__container--brand-logo-img {
  position: absolute;
  left: 76%;
  top: 203px;
  z-index: 0;
  height: 485px !important;
}

.access-promo-card__container p {
  color: #363636;
}

.access-promo-card img {
  width: auto;
  height: 31px;
}

.access-promo-card .circle-container__inner {
  border: 1px solid #6C7678;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: inline-block;
  margin-top: 32.5px;
}

.access-promo-card .circle-container__outer {
  border: 1px solid #687b7d80;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  display: inline-block;
  margin-bottom: 65px;
  margin-top: 65px;
}

.access-promo-card h1 {
  font-size: 40px;
  color: #161615;
}

@media (max-width: 1200px) {
  .access-promo-card__container--brand-logo-img {
    top: 322px;
    height: 365px !important;
  }
}

@media (max-width: 992px) {
  .access-promo-card__container--brand-logo-img {
    top: 424px;
    height: 263px !important;
  }
}

@media (max-width: 767px) {
  .access-promo-card__container--brand-logo-img {
    display: none;
  }
}

.faq-accordion {
  font-size: 16px;
  font-family: "Poppins" !important;
  color: #707071;
}

.faq-accordion__section {
  max-width: 1120px;
}

.faq-accordion .card-header {
  border-bottom: none;
  background-color: transparent;
}

.faq-accordion .btn-link {
  font-size: 16px;
  color: #707071;
  font-family: "Poppins" !important;
  padding: 0;
}

.faq-accordion .btn-link:focus,
.faq-accordion .btn-link:hover {
  text-decoration: none;
}

.faq-accordion .card {
  border-radius: 15px;
}

.faq-accordion .active-card {
  border-color: #00B2B0;
}

.faq-accordion .active-card span {
  font-weight: 600;
}

.faq-accordion .fa-caret-up {
  color: #00B2B0;
}

.section-container {
  width: 100%;
  padding: 15px 0 15px 0;
  background-color: #FFFFFF;
  scroll-margin-top: 80px;
}

.section-container .container {
  padding-top: 5em;
}

.section-container__bg-color-grey {
  background-color: #FAFAFA;
}

.section-container__access-promo-container {
  background-image: url(/images/internetowisprzedawcy/access-promo-card-background.png) !important;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 5em;
}

.section-container__offer-promo-container {
  background-image: url(/images/internetowisprzedawcy/offer-promo-card-background.png) !important;
  background-repeat: no-repeat;
  background-position: top;
  padding-bottom: 5em;
}

.error-container {
  background-color: #FFFFFF;
}

