.header {
  background-image: url("/images/projekt30/tlo.png");
  background-size: cover;
}

.navbar-orange .navbar-brand {
  color: #525252;
}

.navbar-orange .navbar-nav > li > a {
  color: #525252;
}

.text-orange,
.text-p30-orange {
  color: #f79e1c !important;
}

.bg-orange {
  background-color: #f79e1c !important;
}

.text-testimonials-header {
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #251d22;
  font-weight: 700;
}

.promo-cards .promo-card h3 {
  color: #f79e1c;
}

.promo-cards .promo-card p {
  color: #251d22;
}

.text-bold {
  font-weight: 700;
}

.start-grow h3 {
  font-weight: 900;
  font-size: 25px;
}

.start-grow p {
  font-size: 15px;
}

.btn-p30-green {
  background-color: #8dc63f;
  color: #ffffff !important;
  font-weight: 700;
  border-radius: 35px;
}

.btn-p30-green:hover {
  background-color: #72a230;
  color: #ffffff !important;
}

.btn-p30-red {
  background-color: #f42525;
  color: #ffffff !important;
  font-weight: 700;
  border-radius: 35px;
}

.btn-p30-red:hover {
  background-color: #db0b0b;
  color: #ffffff !important;
}

.btn-big {
  font-size: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

footer * {
  color: #ffffff;
}

.rounded-20 {
  border-radius: 20px !important;
}

