// Body
$body-bg: #fafafa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

$color-orange: #ff7631;
$color-black: #22272a;
$color-gray: #525252;
$color-white: #ffffff;

$color-bg-gray-light: #fafafa;
$color-bg-gray-dark: #f5f8fa;
$color-bg-orabge-dark: #e36427;

$footer-background: $color-black;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Lato", "Raleway", sans-serif;
$font-size-base: 0.875rem;
$line-height-base: 1.6;
$text-color: $color-gray;

// Navbar
$navbar-default-bg: $color-orange;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: $color-bg-gray-dark;
