// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:300,300i,400,400i,500,500i,700,700i,900,900i');
@import "~font-awesome/scss/font-awesome";
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";

.bg-gray-light {
    background-color: $color-bg-gray-light;
}

.bg-gray-dark {
    background-color: $color-bg-gray-dark;
}

.text-orange {
    color: $color-orange !important;
}

.section-header {
    color: $color-orange;
    font-size: 20px;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-ivba {
    background-color: $color-orange;
    color: $color-white;

    &:hover {
        background-color: darken($color-orange, 10%);
        color: $color-white;
    }
}

.login {
    font-family: "Lato", "Raleway", sans-serif;
}

.header {
    background-color: $color-bg-orabge-dark;
    background-image: url("/images/v2/glowny_banner.png");
    background-size: cover;

    .promo {
        h1 {
            color: $color-white;
            font-weight: 900;
            font-size: 44px;
        }
    }
}

.navbar-orange {
    background-color: transparent;

    .navbar-brand {
        color: $color-white;
    }

    .navbar-nav > li > a {
        color: $color-white;
        font-weight: 700;
    }
}

footer {
    background-color: $color-black;

    a {
        color: $color-white;
        font-size: $font-size-base;
        font-weight: 400;
        padding-right: 5px;
        padding-left: 5px;
    }

    .footer-header {
        font-size: $font-size-base;
        font-weight: 700;
        margin-bottom: 0;
        text-transform: uppercase;
    }
}

.promo-cards {
    .promo-card {
        font-weight: 400;

        h3 {
            color: $color-orange;
            font-size: 20px;
            padding: 10px 0;
            text-transform: uppercase;
        }

        p {
            color: $color-gray;
        }
    }
}

.form-signin {
    width: 100%;
    max-width: 70%;
    padding: 15px;
    margin: 0 auto;

    .checkbox {
        font-weight: 400;
    }

    .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

    .form-control:focus {
        z-index: 2;
    }

    input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}


.VueCarousel-navigation-button {
    color: #fff;
    font-size: 40px;
    font-family: "Lato", "Raleway", sans-serif;
    font-weight: 300;
}