// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:300,300i,400,400i,500,500i,700,700i,900,900i');
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";

.bg-gray-light {
    background-color: $color-bg-gray-light;
}

.bg-gray-dark {
    background-color: $color-bg-gray-dark;
}

.text-orange{
    color: $color-orange;
}

.header {
    background-color: $color-bg-orabge-dark;
    background-image: url("/images/v2/glowny_banner.png");
    background-size: contain;

    .promo {
        h1 {
            color: $color-white;
            font-weight: 900;
            font-size: 44px;
        }
    }
}

.navbar-orange {
    background-color: transparent;

    .navbar-brand {
        color: $color-white;
    }

    .navbar-nav > li > a {
        color: $color-white;
        font-weight: 700;
    }
}

footer {
    background-color: $color-black;

    a {
        color: $color-white;
        font-size: $font-size-base;
        font-weight: 400;
        padding-right: 5px;
        padding-left: 5px;
    }

    .footer-header {
        font-size: $font-size-base;
        font-weight: 700;
        margin-bottom: 0;
        text-transform: uppercase;
    }
}

.promo-cards {
    .promo-card {
        font-weight: 400;

        h3 {
            color: $color-orange;
            font-size: 20px;
            padding: 10px 0;
            text-transform: uppercase;
        }

        p {
            color: $color-gray;
        }
    }
}