$color-main-red: #FB0030;
$color-white: #FFFFFF;
$color-gray-bg-light: #F5F5F5;
$color-orange: #ff7631;

body {
    font-family: "Sora", "Lato", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.card {
    border: 0px;
}

.btn-white {
    background-color: $color-white;
    color: $color-orange;
    fill: $color-orange;
    font-weight: 700;

    &:hover {
        -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
    }
}

.btn-transparent {
    background-color: transparent;
    color: $color-white;
}

.btn-red {
    background-color: $color-main-red;
    color: $color-white;
    fill: $color-white;

    &-inversed {
        background-color: darken($color-gray-bg-light, 10%);
        color: $color-white;
        fill: $color-white;

        &:hover {
            background-color: $color-main-red;
            color: $color-white;
            fill: $color-white;
        }
    }

    &-outline {
        font-weight: 700;
        border-width: 2px;
        background-color: white;
        border-color: $color-main-red;
        color: $color-main-red;

        &:hover {
            background-color: $color-main-red;
            color: white;
        }
    }

    &:hover {
        background-color: darken($color-main-red, 10%);
        color: $color-white;
        fill: $color-white;
    }
}

.text-gray-light {
    color: #707070;
}
