@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$color-main-red: #FB0030;
// $color-main-red: #E7323B old;
$color-seledin-dark: #00A9A7;
$color-blue: #00ACAA;
$color-blue-order: #45BEEE;
$color-blue-order-button: #119CD4;
$color-gray: #707071;
$color-gray-light: #D9D9D9;
$color-gray-footer: #3E3E3E;
$color-gray-bg-light: #F5F5F5;
$color-gray-bg-lighter: #FCFCFC;
$color-gray-text-light: #D8D9D9;    
$color-gray-text-logged: #868686;
$color-gray-44: #444444;
$color-gray-bg-section-container: #FAFAFA;
$color-black: #262626;
$color-black-text-dark: #161615;
$font-color-red: #DE3A43;
$color-white: #FFFFFF;
$color-white-bg-card: #F7F7F7;

$brand-primary: $color-main-red;
$text-color: $color-gray;

$font-main: "Poppins";
$font-bold: "Krona One";

$font-family-sans-serif: $font-main, sans-serif;

@import 'internetowisprzedawcy/logged.scss';
@import 'internetowisprzedawcy/buyaccess.scss';
@import 'internetowisprzedawcy/learn.scss';

html {
    background-color: $color-gray-footer;
    scroll-behavior: smooth;
    scroll-margin: 25px;
}

body {
    font-family: $font-main;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-bold;
    color: $color-gray;
}

p {
    font-size: 18px;
}

header {
    font-family: $font-bold;
    font-size: 13px;
}

footer {
    p {
        font-size: 16px;
    }
}

.font-primary {
    font-family: $font-main, sans-serif;
}

.font-secondary {
    font-family: $font-bold, sans-serif;
}

.p-header {
    font-size: 31px;
    color: $font-color-red;
    font-family: $font-bold;
}

.header {
    background-color: $color-main-red;
    background-image: none;
}

.color-red,
.text-red {
    color: $color-main-red !important;
}

.bg-red {
    background-color: $color-main-red;
}

.color-blue,
.text-blue {
    color: $color-blue;
    fill: $color-blue;
}

.color-blue-order,
.text-blue-order {
    color: $color-blue-order !important;
    fill: $color-blue-order !important;
}

.color-gray,
.text-gray {
    color: $color-gray-text-logged !important;
    fill: $color-gray-text-logged !important;
}

.text-gray-light {
    color: $color-gray-text-light !important;
    fill: $color-gray-text-light !important;
}

.text-gray {
    color: $color-gray !important;
    fill: $color-gray !important;
}

.text-gray-44 {
    color: $color-gray-44 !important;
    fill: $color-gray-44 !important;
}

.text-black {
    color: $color-black !important;
    fill: $color-black !important;
}


.bg-blue {
    background-color: $color-blue;
}

.header-is {
    :before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        background-color: $color-blue;
    }
}

.navbar {
    li {
        padding-left: 10px;
        padding-right: 10px;
    }

    a {
        color: $color-white;

        &.dropdown-item {
            color: $color-gray;
        }
    }
}

footer {
    background-color: $color-gray-footer;

    .footer-menu {
        font-family: $font-bold;
    }
}

.btn {
    border-radius: 14px;
    padding: 10px 32px;
}

.btn-red {
    background-color: $color-main-red;
    color: $color-white;
    fill: $color-white;

    &-inversed {
        background-color: darken($color-gray-bg-light, 10%);
        color: $color-white;
        fill: $color-white;

        &:hover {
            background-color: $color-main-red;
            color: $color-white;
            fill: $color-white;
        }
    }

    &-outline {
        font-weight: 700;
        border-width: 2px;
        background-color: white;
        border-color: $color-main-red;
        color: $color-main-red;

        &:hover {
            background-color: $color-main-red;
            color: white;
        }
    }

    &:hover {
        background-color: darken($color-main-red, 10%);
        color: $color-white;
        fill: $color-white;
    }
}

.btn-blue {
    background-color: $color-blue-order-button;
    color: $color-white;
    fill: $color-white;

    &:hover {
        background-color: darken($color-blue-order-button, 10%);
        color: $color-white;
        fill: $color-white;
    }
}

.btn-ivba-inversed {
    background-color: darken($color-gray-bg-light, 10%);
    color: $color-white;
    fill: $color-white;

    &:hover {
        background-color: $color-blue;
        color: $color-white;
        fill: $color-white;
    }
}

.nav-link-header {
    display: block;
    padding: 0.5rem 1.5rem;

    &__register {
        border: 2px solid $color-white;
        border-radius: 15px;
    }
}

.alert-container {
    margin-top: 50px;

    &__error {
        max-width: 100%;
        padding: 0;
    }
}

.main-slider {
    .VueCarousel-wrapper {
        height: calc(100vh - 335px);
    }

    .VueCarousel-inner {
        height: 100% !important;
    }

    .VueCarousel-pagination {
        position: absolute;
        bottom: 5%;
    }
}

@media (max-width: 1500px) {
    .section-container {
        .container {
            max-width: calc(100% - 120px);
        }
    }
}

@media (max-width: 1200px) {
    .section-container {
        .container {
            max-width: calc(100% - 30px) !important;
        }
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1450px;
    }
}

.card {
    border-radius: 28px;
}

.font-size-10 {
    font-size: 10px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px !important;
}

.font-size-16 {
    font-size: 16px;
}

ul.square-ul {
    list-style-type: none;
    padding-left: 0em;
}

ul.square-ul li:before {
    background-color: $color-seledin-dark;
    content: "";
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 2px;
    height: 15px;
    width: 15px;
    margin-top: 23px;
}

.iframe-vimeo {
    cursor: pointer;
    img {
        width: 100%;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.container-description {
    div {
        h2 {
            line-height: 1.25em;
            font-size: 35px;
        }
    }
}

.subscription-button, .subscription-button:hover, .subscription-button:active, .subscription-button:visited .subscription-button:focus {
    color: $color-white;
    background-color: $color-main-red;
    border-color: $color-main-red;
    font-family: $font-bold;
    font-size: 25px;

    span {
        margin: 0 1.5em 0 1.5em;
    }
}

.subscription-button-alt, .subscription-button-alt:hover, .subscription-button-alt:active, .subscription-button-alt:visited .subscription-button-alt:focus {
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 3px;
    height: 69px;
}

.subscription-button-description {
    color: $color-gray;
    font-size: 13px;
}

.subscription-promo-card {
    background-color: $color-white;
    border-radius: 38px;
    width: 400px;
    height: 445px;
}

.rounded-50 {
    border-radius: 44px;
}

.btn-ivba {
    background-color: $color-blue;
    font-family: $font-bold, sans-serif;

    &:hover {
        background-color: darken($color-blue, 10%);
    }
}

.text-gray {
    color: $color-gray;
    fill: $color-gray;
}

.text-black {
    color: $color-black;
    fill: $color-black;
}

.center-justify-flex-content {
    align-items: center;
    justify-content: center;
    display: flex;
}

$title-height: 90px;
$description-height: 265px;
.offer-promo-card {
    height: $title-height + $description-height;

    div {
        align-items: center;
        justify-content: center;
        display: flex;
    }

    &__with-margin {
        margin-top: $title-height + 20px;
    }

    &__title {
        span {
            z-index: 2;
            font-size: 17px;
            color: $font-color-red;
            font-family: $font-bold;
        }

        cursor: default;
        text-align: center;
        background-color: $color-white;
        height: $title-height;
        -webkit-box-shadow: 0px 0px 4px -3px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 0px 4px -3px rgba(66, 68, 90, 1);
        box-shadow: 0px 0px 4px -3px rgba(66, 68, 90, 1);
    }

    &__title:hover {
        -webkit-box-shadow: 0px 0px 5px -3px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 0px 5px -3px rgba(66, 68, 90, 1);
        box-shadow: 0px 0px 5px -3px rgba(66, 68, 90, 1);
    }

    &__title:hover + &__description {
        opacity: 1.0;
    }

    &__description {
        span {
            font-size: 15px;
        }

        cursor: default;
        min-height: $description-height;
        padding: 2em;
        opacity: 0.0;
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        -ms-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;
        background: rgb(195, 195, 195);
        background: linear-gradient(180deg, rgba(195, 195, 195, 0.4) 5%, rgba(219, 219, 219, 0.3) 45%, rgba(231, 231, 231, 0.3) 50%, rgba(230, 230, 230, 0.3) 100%);
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}

@media (max-width: 1200px) {
    .offer-promo-card {
        height: auto;

        &__with-margin {
            margin-top: 0;
        }
    }
}

.confident-seller-img {
    max-height: 675px;
    max-width: 628px;
}

.courses-list-button, .courses-list-button:hover, .courses-list-button:active, .courses-list-button:visited .courses-list-button:focus {
    color: $color-white;
    background-color: $color-seledin-dark;
    border-color: $color-seledin-dark;
    font-family: $font-bold;
    font-size: 19px;

    span {
        margin: 0 1em 0 1em;
    }
}


.font-size-20 {
    font-size: 20px;
}

.font-size-25 {
    font-size: 25px;
}

.vs-logo {
    position: absolute;
    left: -13%;
    top: -80px;
    z-index: 0;
    height: 207px;
}

@media (max-width: 1650px) {
    .vs-logo {
        height: 153px;
        left: 0%;
        top: -55px;
    }
}

@media (max-width: 1200px) {
    .vs-logo {
        height: 125px;
        left: -3%;
        top: -40px;
    }
}

@media (max-width: 767px) {
    .vs-logo {
        height: 105px;
        left: 0%;
        top: -25px;
    }

    .w-100-mobile {
        width: 100% !important;
    }
}

.list-card {
    z-index: 1;
    background-color: $color-white;
    margin: 25px;
    padding: 15px;
    border-radius: 25px;

    &__positive {
        border: 4px solid $font-color-red;
    }

    &__header {
        font-family: $font-bold;
        color: $color-gray;
        font-size: 20px;
        text-align: center;
        margin: 1em;
    }

    .list-card-item {
        font-size: 18px;
        border-radius: 25px;
        padding: 18px;
        text-align: center;

        &__positive {
            .fa-check-circle-o {
                color: $color-seledin-dark;
            }

            font-weight: 700;
        }

        &__negative {
            color: $color-gray;
        }
    }
}


.list-card-item:nth-child(odd) {
    background-color: $color-white-bg-card;
}

$base-circle-size: 65px;
$inner-circle-color: #6C7678;
$outer-circle-color: #687b7d80;
.access-promo-card {
    width: 100%;
    border-radius: 38px;
    background-color: $color-white;

    &__container {
        &--brand-logo-img {
            position: absolute;
            left: 76%;
            top: 203px;
            z-index: 0;
            height: 485px !important;
        }

        max-width: 725px;

        p {
            color: #363636;
        }
    }

    img {
        width: auto;
        height: 31px;
    }

    .circle-container {
        &__inner {
            border: 1px solid $inner-circle-color;
            border-radius: 50%;
            width: $base-circle-size;
            height: $base-circle-size;
            display: inline-block;
            margin-top: $base-circle-size / 2;
        }

        &__outer {
            border: 1px solid $outer-circle-color;
            border-radius: 50%;
            width: $base-circle-size * 2;
            height: $base-circle-size * 2;
            display: inline-block;
            margin-bottom: $base-circle-size;
            margin-top: $base-circle-size;
        }
    }

    h1 {
        font-size: 40px;
        color: $color-black-text-dark;
    }
}

// only god can judge me
@media (max-width: 1600px) {
    .access-promo-card__container--brand-logo-img {
        top: 249px;
        height: 439px !important;
    }
}

@media (max-width: 1500px) {
    .access-promo-card__container--brand-logo-img {
        top: 273px;
        height: 413px !important;
    }
}

@media (max-width: 1350px) {
    .access-promo-card__container--brand-logo-img {
        top: 312px;
        height: 375px !important;
    }
}

@media (max-width: 1200px) {
    .access-promo-card__container--brand-logo-img {
        display: none;
    }
}

// only god can judge me

.faq-accordion {
    font-size: 16px;
    font-family: $font-main !important;
    color: $color-gray;

    &__section {
        max-width: 1120px;
    }

    .card-header {
        border-bottom: none;
        background-color: transparent;
    }

    .btn-link {
        font-size: 16px;
        color: $color-gray;
        font-family: $font-main !important;
        padding: 0;
    }

    .btn-link:focus, .btn-link:hover {
        text-decoration: none;
    }

    .card {
        border-radius: 15px;
    }

    .active-card {
        border-color: #00B2B0;

        span {
            font-weight: 600;
        }
    }

    .fa-caret-up {
        color: #00B2B0;
    }
}

.section-container {
    width: 100%;
    padding: 15px 0 15px 0;
    background-color: $color-white;
    scroll-margin-top: 80px;

    .container {
        padding-top: 5em;
    }

    &__bg-color-grey {
        background-color: $color-gray-bg-section-container;
    }

    &__access-promo-container {
        background-image: url(/images/internetowisprzedawcy/access-promo-card-background.png) !important;
        background-repeat: no-repeat;
        background-position: bottom;
        padding-bottom: 5em;

        .container {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    }

    &__opinions-container {
        .container {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    }

    &__offer-promo-container {
        background-image: url(/images/internetowisprzedawcy/offer-promo-card-background.png) !important;
        background-repeat: no-repeat;
        background-position: top;
        padding-bottom: 0;
    }
}

.page-link {
    color: $color-blue;
}

.page-item.active {
    .page-link {
        background-color: $color-blue;
        border-color: $color-blue;
    }
}

a.mark-after:after {
    content: "•";
    color: #00A9A7;
    margin:0 10px;
}

body.learn .col-sidebar .learn-sidebar h6 {
    color: #777777;
}

.sidebar-container {
    overflow-y: auto;
    max-height: calc(100vh - 210px)
}

.enquire-wrapper {
    .course-img {
        border-radius: 25px;
    }
}

.lesson-description {
    p {
        font-size: 16px !important;
    }
}

.notification-mark {
    &__container {
        position: relative;
    }
    &__dot {
        height: 12px;
        width: 12px;
        border-radius: 100%;
        background: red;
        position: absolute;
        right: 17px;
        top: 7px;
    }
}