@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;700&display=swap');

$font-main: "Manrope";
$font-bold: "Manrope";

$color-dark: #0A1B35;
$color-green: #11CC05;
$color-black-footer: #070707;

$layout-breakpoint-small: 960px;

html {
    background-color: #FAFAFA;
}

body {
    background-color: #ffffff;
    font-family: $font-main;
}

@media (min-width: 1500px) {
    .container-xl {
        max-width: 1350px;
    }
}

.header,
.header.home {
    background-color: #fff;
    background-image: none;

    & .nav-item {
        a {
            color: $color-dark;
            font-size: 16px;
        }
    }

    & .nav-green-border {
        border: 1px solid $color-green;
        border-radius: 15px;
    }
}

.font-green {
    color: $color-green;
}

.border-green {
    border: 2px solid $color-green;
    border-radius: 20px;
}

.font-size-16{
    font-size: 16px;
}

.font-size-22 {
    font-size: 22px;
}

.font-size-60 {
    font-size: 60px;
}

.font-size-80 {
    font-size: 80px;
}

.font-weight-700 {
    font-weight: 700;
}

.btn-ivba,
.btn-green {
    background-color: $color-green;
    color: $color-white !important;
    font-weight: 700;
    border-radius: 10px;

    &:hover {
        background-color: darken($color-green, 10%);
        color: $color-white !important;
    }
}

.btn-green-outline {
    background-color: white;
    color: $color-green !important;
    font-weight: 700;
    border-radius: 10px;
    border-color: $color-green;

    &:hover {
        color: darken($color-green, 10%) !important;
    }
}


.video-wrapper {
    width: 100%;
    height: calc(100vh - 10px);
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    & > video {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

.video-overlay {
    position: relative;
    color: $color-dark;

    & .side-text {
        text-align: left;
    }
}

.promo-video {
    width: 60%;
    height: auto;
    position: relative;

    & > video {

        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.w-40p {
    width: 40%;
}

.album {
    &.bg-light {
        background-color: transparent !important;
    }

    .card {
        border-radius: 20px;

        .card-img-top{
            border-top-left-radius: 18px;
            border-top-right-radius: 18px;
        }
    }
}


.techniczni-card {
    color: $color-dark;

    .card-thumb {
        position: relative;

        .card-main-img {
            border-radius: 20px;
        }

        .icon {
            position: absolute;
            top: 20px;
            left: 20px;
        }
    }

    h3 {
        font-weight: 600;
        font-size: 28px;
        margin-top: 30px;
    }

    p {
        font-size: 18px;
    }
}

footer {
    border-top: 5px solid $color-green;
    background-color: $color-black-footer;
    padding-top: 40px;
}


@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
[data-inviewport=fadeIn]
{
    opacity: 0;

    &.is-inViewport{
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
}


.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.delay1 {
    animation-delay: 0.2s;
}

.delay2 {
    animation-delay: 0.4s;
}

.delay4 {
    animation-delay: 4s;
}

