body.logged {
    background-color: $color-gray-bg-light;
    min-height: 100%;
    color: $color-gray-text-logged;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $color-black;
    }

    .underline-blue {
        border-bottom: 2px solid $color-blue;
    }

    .icon {
        fill: $color-gray;
        cursor: pointer;
        transition: .5s;

        &:hover,
        &.active {
            fill: $color-main-red;
            transform: rotate(10deg);
        }
    }

    .active {
        .icon {
            fill: $color-main-red;
        }
    }

    .col-sidebar {
        max-width: 204px;
        height: 100%;
        background-color: $color-white;

        .nav {
            a {
                font-family: $font-bold;
                color: $color-gray;
                font-size: 16px;
                cursor: pointer;

                &.active,
                &:hover {
                    color: $color-main-red;

                    & * {
                        fill: $color-main-red;
                    }
                }
            }
        }
    }

    .col-main {
        margin-left: 204px;
        background-image: url('/images/internetowisprzedawcy/logged_bg.png');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .account, .logout {
        width: 60px;
        height: 60px;
        display: inline-block;
        line-height: 60px;

        cursor: pointer;

        &:hover,
        &.active {
            background-color: $color-blue;
            color: $color-white !important;

            .icon {
                fill: $color-white;
            }
        }
    }

    .logout {
        width: auto;
        height: auto;
        button {
            border: none;
            background-color: transparent;
            color: transparent;
            outline: none;
        }
        &:hover,
        &.active {
            background-color: $color-main-red;
        }
    }

    .nav-pills {
        .nav-link {
            color: $color-gray-text-logged;
            font-size: 17px;
            border: 1px solid transparent;
            border-bottom: 4px solid transparent;

            &:hover {
                border-bottom-color: $color-gray-text-logged;
            }

            &.active {
                background-color: inherit;
                border-bottom-color: $color-blue;
            }
        }
    }
}
